In [2]:
cd C:\Users\gurin\Desktop\Kaggle Dataset\Fake Click

C:\Users\gurin\Desktop\Kaggle Dataset\Fake Click

In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
train_sample = pd.read_csv('C:\\Users\\gurin\\Desktop\\Kaggle Dataset\\Fake Click\\train_sample.csv')
train_sample.head(1)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 9:30,2017-11-07 9:30,0

Divided data and time in the click _time as seperate fields
step 1: copy click_time
step2: sperate click_time as date & time

In [6]:
train_sample["time_clicked"] = train_sample["click_time"].str.split(' ').str[-1]
train_sample["date_clicked"] = train_sample["click_time"].str.split(' ').str[0]

# attributed_time is in float...convert into string so that data can be split 
# sample data is 2017-11-18 09:09:09 AM
# we do not need am/pm for this calculation 
##############################################################
################NEED TO GET THIS  TO RUN ##############
##############################################################
train_sample.attributed_time=map(str,train_sample.attributed_time) # map function will convert all elements to stringt
count = 0 
for element in train_sample["attributed_time"]:
    count = count + 1
    if count % 1000  == 0 :
        print count 
#     break
    if element == 'nan' or element == 'NaN':
        
        train_sample["time_attributed"] = 'NaN'
        train_sample["date_attributed"] = 'NaN'
      
    else:   
        train_sample["time_attributed"] = element.split(' ')[-1]
        train_sample["date_attributed"] = element.split(' ')[0]
# convert time clicked into seconds ...for easier comparision

train_sample.head(1)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,time_clicked,date_clicked,time_attributed,date_attributed
0,87540,12,1,13,497,2017-11-07 9:30,2017-11-07 9:30,0,9:30,2017-11-07,NaN,NaN

In [13]:
x  = train_sample.time_attributed

In [17]:
first =[]
for l in range(len(x)):
        if x[l] == 'Nan' or x[l]== 'nan':
            l = l+1
            if l > len(x):
                end
            first.append("NaN")
        split = x[l].split(":")
        first.append(split)
first =pd.Series(first)

In [19]:
help(imblearn.smote())

NameError: name 'imblearn' is not defined

In [8]:
# convertion to seconds ... this function is INCOMPLETE....

def convert_to_sec(x,y):
    
    '''
    input : a series in strings
    output : a series which has the difference in seconds
    '''

    first= []
    second= []
    difference=[]
    # strip elements of x 
    for l in range(len(x)):
        if x[l] == 'Nan' or x[l]== 'nan':
            l = l+1
            if l > len(x):
                end
            first.append("NaN")
        split = x[l].split(":")
        first.append(split)
    first =pd.Series(first)    
    
    # strip elements of y
    
    for l in range(len(y)):
        if y[l] =='NaN' or y[l]=='nan':
            l = l +1
            if l > len(y):
                end
        second.append["NaN"]
    else :
        split = y[l].split(":")
        second.append(split)
    second= pd.Series(second)
    
    # calculate the difference and convert to seconds
    
    for l in range(len(x)):
        hours = 3600*24
        minutes = 60
        
        diff = ((first[l][0]-second[l[0]])*hours +(first[l][1]-second[l[1]])*minutes +(first[l][2]-second[l][2]))
        difference.append[diff]
    
    difference= pd.Series(difference)
    
    return difference

In [9]:

x = train_sample["click_time"]
y = train_sample["time_attributed"]

z = convert_to_sec(x,y)

KeyError: 100000L

In [225]:
# change the order of the columns
ordered_col = ['ip', 'app','channel', 'device', 'os', 'click_time', 'date_clicked', 'time_clicked',
               'time_attributed', 'date_attributed',  'attributed_time','is_attributed']
train_sample.reindex(columns = ordered_col)
train_sample.head(1)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,time_clicked,date_clicked,time_attributed,date_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,nan,0,09:30:38,2017-11-07,NaN,NaN

Create variable : Time_from_click_to_buy 

The ideal time should be 0 .